div.feature {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    border-radius: 50%;
    padding: 25px;
    margin: 0 auto;
    display: inline-block;
    box-shadow: 10px 10px 5px #888888;
}
div.hero {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    border-radius: 10%;
    padding: 25px;
    margin: 0 auto;
}
div.header {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    border-radius: 10%;
    padding: 25px;
    margin: 0 auto;
 }
 div.footer {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    border-radius: 10%;
    padding: 25px;
    margin: 0 auto;
 }
p.location {
    font-family: Helvetica; Arial; Sans-Serif;
    text-align: center;
    }
